<div class="modal-header handwritten">
	<button type="button" class="close"  ng-click="cancel()" aria-label="Close">
		<span aria-hidden="true" >&times;</span>
	</button>
	<button class="small-box score-number" ng-repeat="player in players | questionPlayers:question.type" >
		<img ng-src="images/{{(player && player.img) || 'default.png'}}" />
	</button>
    <h3 class="modal-title">&nbsp;&nbsp;{{question.title}}</h3>
</div>

<div class="modal-body">
	<br/>
	<button class="cool-btn btn-sm" ng-click="turnQuestionCard()">
    	<span class="btn-txt">Show {{answerBtn}}</span>
	</button> 
	<br/>
	<h2>{{cardTitle}}:</h2>
	<p class="question handwritten" ng-bind-html="cardContent">
	</p>

	<nav ng-show="cardTitle == 'Answer' && showPager()" class="nav-pagination">
	  <ul class="pagination pagination-sm">
	    <li ng-class="{disabled: !showPagerLeftArrow()}" ng-click="lastAnswerPage($event)">
	    	<a href="#" aria-label="Previous">
	    		<span aria-hidden="true">&laquo;</span>
	    	</a>
	    </li>
	    <li ng-repeat="p in question.answer track by $index" 
	    	ng-click="setAnswerPage($index + 1, $event)" 
	    	ng-class="{active: answerPage == $index + 1}">
	    	<a href="#">{{$index + 1}}<span class="sr-only">(current)</span></a>
	    </li>
	    <li ng-class="{disabled: !showPagerRightArrow()}" ng-click="nextAnswerPage($event)">
			<a href="#" aria-label="Next">
			    <span aria-hidden="true">&raquo;</span>
			</a>	   
       </li>
	  </ul>
	</nav>
</div>


<div class="modal-footer">
	<div ng-if="question.type === 'multi'">
		<h2>Points:</h2> 
		<strong class="points">{{question.points[question.points.length - 1]}}</strong>
	</div>
	
	<br />
	<h2>Result:</h2> 
	<!-- Points attribution for single player question -->
	<div class="result" ng-if="question.type === 'single'">
	    <button class="small-box score-number" ng-click="addPointToPlayerByName(turn().name, 0)">
	    	<span class="score-number bad">0</span>
	    </button> 
	    <button class="small-box score-number" ng-repeat="point in question.points" ng-click="addPointToPlayerByName(turn().name, point)">
	    	<span class="score-number nice">
	    		<span style="font-size: 0.5em; margin-top: -20px; font-weight: bold;">+</span>{{point}}
	    	</span>
	    </button>
    </div>

	<!-- Points attribution for multi-player question -->
	<div class="result" ng-if="question.type === 'multi'">
		<button class="small-box score-number" ng-click="skip()">
			<img style="padding: 7px;" src="images/stop2.png"/>
	    </button>
	    <button class="small-box score-number" ng-click="addPointToPlayerByName(player.name, question.points[question.points.length - 1])" ng-repeat="player in players"  ng-if="player.name !== 'All'">
			<img ng-src="images/{{player.img}}"/>
	    </button>
    </div>
</div>